
.modaal h4{
	font-size: 20px;
	font: bold;
	text-align: center;
}
.modaal .modaal_description{
	font-size: 20px;
	text-align: center;
}
/*infoエリアをはじめは非表示*/
#info{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 700px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:rgb(19, 55, 122);	
}
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:rgba(18, 94, 62, 0.603);
}